.headerLink{
    font-size: 1.4vw;
    color: white;
    text-decoration: none; 
}

.headerUL{
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    .headerLink{
    font-size: 3vw;
}}